* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #c8d5db;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.gmail:hover {
  fill: #da4567;
}

.github:hover {
  fill: #2d5c12;
}

.linkedin:hover {
  fill: #748ddd;
}

#about,
#experience {
  padding-top: 80px;
}
